.users-and-deposits-container {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.users-and-deposits-container > div {
    justify-self: center;
    align-self: center;
}

.list-users-deposits ul {
    list-style: none;
}

table.report-table {
    width: 100%;
    margin-top: 50px;
}

table.report-table,
table.report-table td,
table.report-table th {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

table.report-table td,
table.report-table th {
    text-align: center;
    padding: 15px;
}

.mleft-20 {
    margin-left: 20px;
}
